<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title></title>
        <script src="https://unpkg.com/vue@next"></script>
    </head>
    <body>
        <div id="root"></div>
    </body>
    <script>
        const app = Vue.createApp({
            // 控制样式
            data() {
                return {
                    listArray: ["hello", "joe", "yee"],
                    listObject: {
                        firstName: "yee",
                        lastName: "joe",
                        job: "student",
                    },
                };
            },
            methods: {
                handleAddBtnClick() {
                    // 1. 使用数组的变更函数 push, pop, shift, unshift, splice, sort, reverse
                    // this.listArray.push('hello');
                    // this.listArray.pop();
                    // this.listArray.shift();
                    // this.listArray.unshift('hello');
                    // this.listArray.reverse();
                    // 2. 直接替换数组
                    // this.listArray = ["bye", "world"];
                    // this.listArray = ["bye"].concat(["world"]);
                    // this.listArray = ["bye", "world"].filter((item) => item === "bye");
                    // 3. 直接更新数组的内容
                    // this.listArray[1] = "hello";
                    // 4.直接添加对象的内容，也可以自动的展示出来
                    // this.listObject.age = 100;
                    // this.listObject.sex = "female";
                },
            },
            // 循环遍历数组
            // template: `
            //     <div>
            //         <div v-for="(item,index) in listArray" :key="index">
            //             {{item}}---{{index}}
            //         </div>
            //         <button @click="handleAddBtnClick">新增</button>
            //     </div>
            // `,

            // 循环遍历对象
            template: `
                <div>
                    <div v-for="(value,key,index) in listObject" :key='index'>
                        {{key}}---{{value}}---{{index}}
                    </div>
                    <button @click="handleAddBtnClick">新增</button>
                </div>
            `,
        });
        const vm = app.mount("#root");
    </script>
</html>
